.MainCard {
  width: 412px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 32px 40px;
}

.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  gap: 33px;
}

@media (max-width: 900px) and (min-width: 350px) {
  .MainCard {
    width: 327px;
    height: 360px;
    flex-shrink: 0;
  }
  .Main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    gap: 23px;
  }
}
