.RateCard {
  width: 51px;
  height: 51px;
  flex-shrink: 0;
  background-color: rgba(38, 46, 56, 1);
  fill: var(--Dark-Blue, #262e38);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Medium-Gray, #7c8798);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Overpass;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  border: none;
}

.RateCard:focus {
  cursor: pointer;
  background-color: #fc7614;
  color: white;
  cursor: pointer;
}

.RateCard:hover {
  background-color: rgba(124, 135, 152, 1);
  color: white;
  cursor: pointer;
}

.RateCard:active {
  background-color: #fc7614;
  color: white;
}
